.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    /*background: linear-gradient(to right, #4b79a1, #283e51);*/
    color: #f9ffe2;
    gap: 10px;
}
.tableContainer {
    width: 50%;
    /*padding: 20px;*/
    border-radius: 8px;
    background-color: #5e9ac3;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px
}
.graphContainer {
    width: 410px;
    height: 410px;
    border: 2px solid #5e9ac3;
    border-radius: 10px;
    /*border-color: #5e9ac3;*/
    /*border-width: 3px;*/
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.inputContainer {
        width: 300px;
        /*padding: 20px;*/
        border-radius: 8px;
        background-color: #5e9ac3;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        text-align: center;
}
.table{
    width: auto;
}


@media screen and (max-width: 700px) {
    .loginBox {
        max-width: 90%;
        padding: 15px;
    }

    .title {
        font-size: 20px;
    }

    .input,
    .button {
        font-size: 14px;
        padding: 8px;
    }
}

/* For medium devices (tablets, between 600px and 1024px wide) */
@media screen and (min-width: 701px) and (max-width: 1136px) {
    .inputContainer {
        max-width: 80%;
        padding: 20px;
    }

    .title {
        font-size: 22px;
    }

    .input,
    .button {
        font-size: 15px;
        padding: 10px;
    }
}

/* For large devices (desktops, wider than 1024px) */
@media screen and (min-width: 1137px) {
    .loginBox {
        max-width: 400px;
    }

    .title {
        font-size: 24px;
    }

    .input,
    .button {
        font-size: 16px;
    }
}